#map {
max-width: 1700px;
margin: 0px auto;
}
#map svg {
margin-top: -2vh;
}
text {
color: #222;
font-size: 12px;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
text.title {
font-size: 20px;
}
text.link {
fill: #333;
}
rect.footer {
fill-opacity: .8;
fill: #fff;
}
