#map .earthquake {
fill:#cc0000;
stroke:#f00;
stroke-width:.5px;
opacity:.7;
cursor:pointer;
}
#map {
background-color:#fff;
color:#ccc;
}
#map .unit {
cursor: default;
fill: #000;
stroke: #444;
stroke-width: 1px;
}