.icons{overflow:hidden}.icons .icon{float:left;width:40px;height:40px;background-size:40px 40px}.ronaldo{background:url("/img/icons/cristiano-ronaldo-by-hazeljane.svg")}.worker{background:url("/img/icons/worker.svg")}
