body {
background:#222;
}
.sigma-parent {
position:relative;
background:#222;
height:800px;
}
.sigma-expand {
position:absolute;
width:100%;
height:100%;
top:0;
left:0;
}
#showlang {
left:37%;
width:70%;
}
#visinfo, #comments, footer {
color:#999;
}

.ad {
background-color:#333;
color:#999;
border-color:#999;
}
.adhint {
font-size:.9em;
}
.ad h3 {
font-size:1.2em;
margin:-.5em 0 0 0;
}
