body {
background:#222;
padding-top:41px;
}
#vis {
height:600px;
}
.sigma-parent {
position:relative;
background:#222;
}
.sigma-expand {
position:absolute;
width:100%;
height:100%;
top:0;
left:0;
}
#showlang {
left:37%;
width:70%;
}
.ad h3 {
font-size:1.2em;
margin:-.5em 0 0 0;
}
#search-reset{
margin-left: -1.3em;
position: absolute;
top: 1.3em;
cursor:pointer;
opacity:.8;
}
#loading {
position:absolute;
left:30%;
top:25%;
width:40%;
color:#fff;
font-size:2em;
display:none;
}
#nodeinfo {
display: none;
position: absolute;
right: 5px;
top: 58px;
max-width: 350px;
opacity: .8;
}