body {
background:#222;
padding-top:41px;
}
#vis {
height:600px;
}
.sigma-parent {
position:relative;
background:#222;
}
.sigma-expand {
position:absolute;
width:100%;
height:100%;
top:0;
left:0;
}
#showlang {
left:37%;
width:70%;
}
.ad h3 {
font-size:1.2em;
margin:-.5em 0 0 0;
}
