text {
font: 13px sans-serif;
fill:#333;
}
.node text {
cursor: pointer;
fill:#222;
}
.rule {
font-size:11px;
}
circle {
cursor:pointer;
}
rect {
fill: steelblue;
opacity:.8;
}
#overview,
.nodeinfo {
display:none;
}
.well h4 {
margin-top:0;
text-align:center;
font-size:1.1em;
}