body {
position: relative;
padding-top: 60px;
}
h1 {
font-size: 2.6em;
}
footer {
margin-top:1em;
}
button a {color:inherit;}
cite {font-style:italic;}

.spacer5 {clear:both;height:5px;}
.centered {text-align:center;}
.clearfix {clear:both;}

.navbar .nav > li > a.menubutton {
padding:2px 0 0 10px;
}
.navbar ul.share button {
width:140px;
margin:.3em 1em .3em;
font-size:.8em;
}
.caret {
opacity:.8;
}
.small {
font-size:.85em;
}
.btn-list li {
margin-bottom:.5em;
}
.tags span {
padding:.4em;
margin-bottom:.5em;
font-size:1.1em;
}
.tags a {
color:#fff;
}
