#sidebar {
  position: relative; }

#overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #fafafa;
  width: 100%;
  margin: 25px 0 0 15px; }

#detail-info .row {
  margin-bottom: 8px; }

#detail-info .player-info {
  padding-left: 0; }